<div class="page-header">
  <h1>
    Responses
    <a href="/responses/new" class="btn btn-lg btn-success">New Response</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Review</th>
        <th>Ownership</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>

      <% @responses.each do |response| %>
      <tr>
        <td>
          <% if response.review.present? %>
            <a href="/reviews/<%= response.review.id %>">
              <%= response.review.body %>
            </a>
          <% end %>
        </td>
        <td>
          <% if response.ownership.present? %>
            <a href="/ownerships/<%= response.ownership.id %>">
              <%= response.ownership.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= response.body %></td>
        <td>
          <a href="/responses/<%= response.id %>" class="btn btn-primary">Show</a>
          <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @responses, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
