<!-- Validation failure messages -->
<% if @response.errors.any? %>
  <% @response.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Response</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_response" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          Review
        </label>

        <%= select_tag(:review_id, options_from_collection_for_select(Review.all, :id, :body, @response.review_id), :class => "form-control") %>
      </div>

      <!-- Label and input for ownership_id -->
      <div class="form-group">
        <label for="ownership_id" class="control-label">
          Ownership
        </label>

        <%= select_tag(:ownership_id, options_from_collection_for_select(Ownership.all, :id, :created_at, @response.ownership_id), :class => "form-control") %>
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @response.body %></textarea>
      </div>

      <button class="btn btn-success">
        Create Response
      </button>
      or
      <a href="/responses">Cancel</a>
    </form>
  </div>
</div>
