<div class="page-header">
  <h3>Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Review</dt>
      <dd>
        <% if @response.review.present? %>
          <a href="/reviews/<%= @response.review_id %>">
            <%= @response.review.body %>
          </a>
        <% end %>
      </dd>

      <dt>Ownership</dt>
      <dd>
        <% if @response.ownership.present? %>
          <a href="/ownerships/<%= @response.ownership_id %>">
            <%= @response.ownership.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= @response.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/responses" class="btn btn-primary">
        Back
      </a>
      <a href="/responses/<%= @response.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_response/<%= @response.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
